<div class="grid grid-cols-2 h-screen">
    <div class="bg-blue-600 flex flex-col gap-4 justify-center ps-28">
      <h1 class="text-blue-100 text-3xl font-bold">Todo Management</h1>
      <p class="max-w-md text-blue-300 text-xl">
        Una aplicación de gestión de tareas pendientes es una herramienta de software diseñada
         para ayudar a los usuarios a organizar y realizar un seguimiento de sus tareas, responsabilidades
          y objetivos de manera sistemática y eficiente. Estas aplicaciones están diseñadas para mejorar la
           productividad y la gestión del tiempo al proporcionar a los usuarios una plataforma centralizada para
            crear, priorizar y gestionar sus listas de tareas pendientes. </p>
    </div>
    <div class="flex w-full justify-center items-center">
      <div class="w-1/2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>