<div class="flex flex-col gap-2 p-6 bg-white rounded-lg shadow">
    <h5 class="text-xl mb-2 font-bold text-gray-900">Login</h5>
    <form action=""  autocomplete="off" (ngSubmit)="onSubmit()" novalidate [formGroup]="loginForm">
      <div class="form-group mb-3">
        <label for="">Correo</label>
        <input formControlName="email" type="text" placeholder="Correo" class="form-control" formControlName="email" 
        [class]="{'invalid': loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched, 'valid':loginForm.get('email')?.valid}">
        @if(loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched){
          <span class="form-error">El correo es requerido.</span>
        }
        @if(loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched){
          <span class="form-error">El formato del correo electrónico no es válido.</span>

        }

      </div>
      <div class="form-group mb-3">
        <label for="">Contraseña</label>
        <input formControlName="password" type="password" placeholder="Contraseña" class="form-control" formControlName="password"
        [class]="{'invalid': loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched, 'valid':loginForm.get('password')?.valid}">
        @if(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched){
          <span class="form-error">La contraseña es requerida.</span>
        }
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>